<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin View Feedback</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="./static/feedbackapp/css/customer_view_feedback.css">

</head>

<body>
    <!-- Logout Button -->
    <div class="logout">
        <form action="/admin_logout" method="POST">
            {% csrf_token %}
            <button type="submit">Log Out</button>
        </form>
    </div>
    </div>

    <!-- Table Container with Search Box -->
    <div class="table-container">
        <!-- Sliding Search Box -->

        <h4>All Feedback Records</h4>
        <div id="searchBox">
            <input type="text" class="search" id="search" onkeyup="text_search(this.value)"
                placeholder="Search Feedback Here..." size="20px">
        </div>
        <!-- Search Icon -->
        <i class="fas fa-search search-icon" onclick="toggleSearchBox()"></i>

        <table id="feedbackTable">
            <thead>
                <tr>
                    <th>Feedback Id</th>
                    <th>Customer Id</th>
                    <th>Feedback Description</th>
                    <th>Feedback Rating</th>
                    <th>Feedback Date</th>
                </tr>
            </thead>
            <tbody>
                {% for d in view_feed_data %}
                <tr class="feedback-row">
                    <td>{{ d.id }}</td>
                    <td>{{ d.customer_details.custid }}</td>
                    <td>{{ d.feeddesc }}</td>
                    <td>{{ d.feedrate }}</td>
                    <td>{{ d.feeddate }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="./static/feedbackapp/javascript/notification.js"></script>
    <script src="./static/feedbackapp/javascript/searchbox.js"></script>
    
</body>

</html>