<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager Home</title>
    <link rel="stylesheet" href="./static/feedbackapp/css/admin_manager_customer_choice.css">
    <link rel="stylesheet" href="./static/feedbackapp/css/notification.css">
 

</head>
<body>

    <div class="logout">
        <form action="/manager_logout" method="POST">
            {% csrf_token %}
            <button type="submit">Log out</button>
        </form>
    </div>
<div>
    <!-- Welcome Message -->
    <h4>{{manager_userid}}</h4>  <br>  <br>

    <!-- Navigation Links -->
    <a href="/manager_view_feedback">View Feedback</a></div>

    {% if messages %}
    <div class="notification" id="message-box">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>

    <script src="./static/feedbackapp/javascript/notification.js"></script>
    {% endif %}

</body>
</html>





